# Project info
site_name: The Automation Hub
site_description: 'Documentation, guides and articles on creating, developing and implementing automated betting strategies, using data analysis to inform betting models and how to interact with the Betfair API.'
site_author: 'Betfair Data Scientists'
site_url: 'https://betfair-datascientists.github.io'
docs_dir: 'src'
site_dir: 'docs'

# Navigation
nav:
    - Home: index.md  

    - Wagering:
        - Staking Methods and Bankroll Management: wagering/stakingMethods.md
        - Commission and other charges: wagering/commission.md

    - API:
        - API resources: api/apiResources.md
        - How to access the Betfair API: api/apiappkey.md
        - API tutorial in R: api/apiRtutorial.md
        - API tutorial in Python: api/apiPythontutorial.md
            
    - Modelling:
        - Intro to modelling: modelling/howToModel.md
        - Pricing Data Sources: modelling/dataSources.md
        - Racing:
            - Greyhound form FastTrack API: modelling/fasttrackTutorial.ipynb
            - Greyhound modelling in Python: modelling/greyhoundModellingPython.ipynb
        - Soccer:
            - Soccer modelling tutorial in R for 2022 FIFA World Cup: modelling/soccerModellingELO2022WorldCup.md
            #- Elo soccer tutorial in R: modelling/soccerEloTutorialR.md
            - Soccer modelling tutorial in Python: modelling/soccerModellingTutorialPython.md
            #- Soccer modelling tutorial in R: modelling/soccerModellingTutorialR.md
            - EPL ML walk through in Python: modelling/EPLmlPython.md

        - AFL:
            - AFL modelling walk through in Python: modelling/AFLmodellingPython.md
            - Modelling the Brownlow Medal in Python: modelling/brownlowModelTutorial.ipynb
        - Tennis:
            - How to model the Australian Open: modelling/howToModelTheAusOpen.md
            - Aus Open R Tutorial: modelling/AusOpenRTutorial.md
            - Aus Open Python Tutorial: modelling/AusOpenPythonTutorial.md

    - Automation: 
        - Golden rules of automation: automation/GoldenRulesofAutomation.md
        - Tools Overview: automation/overview.md           
        - Bet Angel: 
            - Overview: automation/betAngel/betAngel.md
            - Beginner's guide: automation/betAngelbeginners.md
            - Intermediate guide: automation/betAngelintermediate.md
            - Advanced guide: automation/betAngeladvanced.md
            - Ratings auto: automation/betAngelRatingsAutomation.md
            - Market fav auto: automation/betAngelMarketFavouriteAutomation.md
            - Tipping auto: automation/betAngelTippingAutomation.md
            - Simultaneous markets: automation/betAngelSimultaneousMarkets.md
            - Kelly criterion staking: automation/betAngelKellyStake.md
        - Gruss Betting Assistant:
            - Overview: automation/Gruss/Gruss.md
            - Setup basic market view and one click betting: automation/GrussSettingupbasicmarketview.md
            - Ratings auto: automation/grussRatingsAutomation.md
            - Market fav auto: automation/grussMarketFavouriteAutomation.md
            - Simultaneous markets: automation/grusslSimultaneousMarkets.md
            - Kelly criterion staking: automation/grussKellyStake.md
        - Cymatic Trader: 
            - Overview: automation/CymaticTrader/CymaticTrader.md
            - Ratings auto: automation/cymaticTraderRatingsAutomation.md      
        - Geeks Toy:
            - Installation and setup: automation/GeeksToyinstallationandsetup.md
            - Setup basic market view and one click betting: automation/GeeksToybasicmarketviewstakingandoneclickbetting.md
            - Optimising refresh settings: automation/geeksToyRefreshSettings.md
        - Bet Jet Pro:
            - Overview: automation/betJetOverview.md
    - Tutorials:
        - How to Automate 1: tutorials/How_to_Automate_1.ipynb
        - How to Automate 2: tutorials/How_to_Automate_2.ipynb
        - How to Automate 3: tutorials/How_to_Automate_3.ipynb
        - How to Automate 4: tutorials/How_to_Automate_4.md
        - How to Automate 5: tutorials/How_to_Automate_5.md
        - Take away the pain! Processing TAR Files 101: tutorials/processingTarFiles101.ipynb
        #- JSON to CSV in Python: tutorials/jsonToCsvTutorial.md
        - JSON to CSV | Revisited: tutorials/jsonToCsvRevisited/index.md
        - Back testing ratings in Python: tutorials/backtestingRatingsTutorial.md
        - Automated betting angles in Python: tutorials/automatedBettingAnglesTutorial.ipynb
        - Do they know? Analysing Betfair market formation & market movements: tutorials/analysingAndPredictingMarketMovements.ipynb
        - Wisdom of the crowd? Analysing & understanding BSP: tutorials/analysingAndPredictingBSP.ipynb

    - Mental Game:
        - Intro: mentalGame/intro.md
        - Part 1: mentalGame/roleOfEmotions.md
        - Part 2: mentalGame/mapYourEmotions.md
        - Part 3: mentalGame/handlingBadVariance.md
        - Part 4: mentalGame/winbyBeingGreatatLosing.md
        - Part 5: mentalGame/correctingyouremotions.md
        - Part 6: mentalGame/responsibleGambling.md
        - Part 7: mentalGame/InchwormConcept.md
        - Part 8: mentalGame/HighExpectations.md
        - Part 9: mentalGame/TappingYourIntuition.md
    - Contact Us:
        - Meet the Team: contactUs/test.md

# Theme settings
theme:
    name: material
    custom_dir: 'theme'
    favicon: 'img/BetfairFavicon.ico'
    logo: 'img/logo.svg'
    language: 'en'
    palette:
        -   scheme: betfair
            primary: amber
            accent: orange
            media: "(prefers-color-scheme: light)" 
            toggle:
                icon: material/weather-night
                name: Switch to dark mode
        -   scheme: slate
            primary: amber
            accent: orange
            media: "(prefers-color-scheme: dark)" 
            toggle:
                icon: material/weather-sunny
                name: Switch to light mode
    font:
        text: 'Roboto'
        code: 'Roboto Mono' 
    features:
        - toc.integrate
        - navigation.instant
        - navigation.tabs
        - navigation.top
        - navigation.expand
        - navigation.sections
        - search.suggest
        - search.highlight
        - search.share
 
# Extensions
markdown_extensions:
    - admonition
    - meta
    - md_in_html
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.inlinehilite
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.superfences

# plugins
plugins:
   - search
   - mknotebooks



extra:
    rg_footer: '<div class="full-screen">
  <p style="font-family: Arial, sans-serif; font-size: 1.2rem; font-weight: bold;text-align: center;">Think. Is this a bet you really want to place?</p>
  <p style="font-family: Arial, sans-serif; font-size: 0.8rem; font-weight: bold;text-align: center;">For free and confidential support call 1800 858 858 or visit <a href="http://www.gamblinghelponline.org.au" style="color: black; text-decoration: underline;">www.gamblinghelponline.org.au</a></p>
</div>'
    generator: false
    # Social Media links (footer)
    social:
        - icon: fontawesome/brands/twitter
          link: https://twitter.com/Betfair_Aus
        - icon: fontawesome/brands/linkedin
          link: https://linkedin.com/company/betfair-australia
        - icon: fontawesome/brands/facebook
          link: https://facebook.com/betfairaustralia
        - icon: fontawesome/brands/youtube
          link: https://youtube.com/user/betfairaus
        - icon: fontawesome/brands/github
          link: https://github.com/betfair-datascientists
    # Google Analytics
    analytics:
        provider: google
        property: UA-125973915-1

# betfair custom theme css file
extra_css:
    - assets/stylesheets/betfair.css
    - css/buttons_and_animations.css
    - css/fonts.css

extra_javascript:
    - js/scripts.js
