.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  }
  
.btn-human {
  background-color: #ffb80c;
  color: #1e1e1e !important;
  border-color: #1e1e1e !important;
  float: left;
  width: 12.5rem;
  height: 4rem;
  }

.btn-human + .btn-human {
  margin-left: 1rem;
}
  
.btn-api {
  background-color: #ffb80c;
  color: #1e1e1e !important;
  border-color: #1e1e1e;
  float: right;
  width: 10rem;
  }
  
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-container-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-container-centre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-item {
  background-color: black;
  border: 1px solid transparent;
  border-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  text-align: center; /* add text alignment */
}

.grid-item-side {
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.grid-item h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb80c;
  text-align: center;
  margin:0;
}

.grid-item p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  color: #ffb80c;
}

/* grid-item-large styles */
.grid-item-large {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.grid-item-large-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.grid-item-large h2 {
  font-size: 2rem;
  font-weight: bold;
  margin:0;
  color: #ffb80c;
  text-align: center;
}

.grid-item-large-left h2 {
  font-size: 2rem;
  font-weight: bold;
  margin:0;
  color: #ffb80c;
  text-align: center;
}

.grid-item-large p {
  font-size: 0.8rem;
  margin: 0;
  color: #ffb80c;
  text-align: center;
}

.grid-item-large-left p {
  font-size: 0.8rem;
  margin: 0;
  color: #ffb80c;
  text-align: center;
}

.selectable-list .list-item {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  line-height: 1; /* add this line to increase the size of the circle */
}

.selectable-list li::marker {
  font-size: 1rem !important;
}

.selectable-list .list-item.selected {
  background-color: slategray;
  color: #ffb80c;
  
}

.selectable-list .list-item.selected img {
  display: none;
}

.list-item img {
  display: none; /* Hide all images by default */
}

.list-item.selected img {
  display:
   block; /* Show the image when its parent list item is selected */
}

.selectable-list .list-item:first-child span {
  font-size: 1.5rem; /* or any other font size you prefer */
  font-weight: bold;
}

.grid-container-languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 6fr auto auto;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-item-languages {
  border-radius: 10px;
}

.grid-item-languages h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb80c;
  text-align: center;
  margin:0;
}

.grid-item-languages p {
  font-size: 1rem;
  margin: 0;
  text-align: center;
  color: #ffb80c;
}

.grid-item-languages a {
  font-size: 1rem;
  text-align: center;
  color: #ffb80c;
  display: flex;
  justify-content: center;
}

.grid-item-languages:first-child {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  text-align: center;
  background-color: #000;
  padding: 20px;
}

.full-screen {
  padding: 0.1rem 0 0.2rem 0;
  border: none;
  background-color: white;
  color: black;
  width: 100%;
}

.full-screen p {
  margin: 0; /* remove margin */
  padding: 0.1rem; /* remove padding */
  line-height: 1.2; /* set the line-height to a smaller value */
}

.grid-container-CTA {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr 1.25fr 0.75fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.grid-item-changer {
  background-color: black;
  border: 1px solid transparent;
  border-color: #1e1e1e;
  padding: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
}

.grid-item-changer h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb80c;
  text-align: center;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.grid-item-changer a {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  color: #ffb80c !important;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.grid-item-changer:hover h2 {
  display: none;
}

.grid-item-changer:hover a {
  display: block;
  text-align: center;
  justify-content: center;
}

.grid-item-changer:hover {
  padding: 10px;
}

/* Styles for larger screens */
.large-screen {
  display: block; /* Show the block by default */
}

/* Styles for smaller screens */
.small-screen {
  display: none; /* Hide the block by default */
}

#default-image1 {
  display: none;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 700px) {
  .grid-container-centre {
    grid-template-columns: 1fr;
  }
  .grid-container-CTA {
    grid-template-columns: 1fr;
  }
  .grid-container-languages {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 700px 200px 200px 200px 200px;
  }
  .grid-item-changer:hover {
    height: 200px;
  }
  .grid-container-left {
    grid-template-columns: 1fr;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  #default-image {
    display: none;
  }

  #default-image1 {
    display: block;
  }
  .grid-item-large {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  }
  /* Styles to apply on screens with a max width of 768px */
  .large-screen {
    display: none; /* Hide the block on smaller screens */
  }
  .small-screen {
    display: block; /* Show the block on smaller screens */
  }
  .grid-item-languages:first-child {
    padding: 0;
  }
}

@media screen and (min-width: 701px) and (max-width: 850px){
  .grid-container-centre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid-container-CTA {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .grid-container-languages {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 250px 250px 250px;
  }
  .grid-item-changer:hover {
    height: 200px;
  }
  .grid-container-left {
    grid-template-columns: 1fr;
  }

  #default-image {
    display: none;
  }

  #default-image1 {
    display: block;
  }

  /* Styles to apply on screens with a max width of 768px */
  .large-screen {
    display: none; /* Hide the block on smaller screens */
  }
  .small-screen {
    display: block; /* Show the block on smaller screens */
  }

}

@media screen and (min-width: 851px) and (max-width: 1050px){
  .grid-container-centre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

}

