/* grid styles */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .grid-item h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff6600;
  }
  
  .grid-item p {
    font-size: 24px;
    margin: 0;
  }
  
  /* sidebar styles */
  .sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .sidebar h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff6600;
  }
  
  .sidebar p {
    font-size: 24px;
    margin: 0;
  }
  