.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: 'DIN_Regular';
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-transform: capitalize;
}

.btn-human {
  background-color: grey;
  color: white !important;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-human + .btn-human {
  margin-left: 1rem;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Aligns text vertically with buttons */
}

.white-text-link {
  color: white !important;
  text-decoration: underline;
  font-size: 0.5rem;
  font-family: 'DIN_Regular';
}

.grid-container-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 90px 30px 140px;
  gap: 20px;
}

.grid-container-icons-mob {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 1fr);
  gap: 20px;
  display: none;
}

.grid-container-api {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 0.5fr;
}

.grid-container-api > *:not(:last-child) {
  border-right: 1px solid #ccc;
}

/* Remove right border from last child in first row */
.grid-container-api > :nth-child(4) {
  border-right: none;
}
.grid-container-data {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1fr 0.75fr;
}

.grid-container-data-mob {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1.25fr 0.3fr;
}

.grid-container-mob {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 0.6fr 0.75fr;
}

.grid-container-team {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 0.4fr;
  padding: 0px;
}

.grid-container-code-a {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.grid-container-code-b {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

.grid-container-code-b-mob {
  display: none;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

.grid-container-code-mob {
  display: none;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.grid-container-code-a img {
  height: 110px;
}

.grid-container-code-mob img {
  height: 80px;
}

.grid-container-carousel {
  display: grid;
  grid-template-rows: 250px 10px;
  grid-template-columns: 0.25fr 1.5fr 0.25fr;
  gap: 30px;
}


.grid-container-carousel-mob {
  display: none;
  grid-template-rows: 250px 60px;
  grid-template-columns: 1.5fr;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  background-color: black;
  border-radius: 50%;
  border: 0.5px solid white;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active-dot {
  background-color: #ffb80c; /* Choose a color that stands out */
}

.merged-cell {
  grid-column: 1 / span 6;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

#merged-row-1 {
  grid-row: 1;
}

#merged-row-2 {
  grid-row: 2;
}

.btn-hd {
  background-color: grey;
  color: white !important;
  width: 12rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  }

.btn-api {
  background-color: #ffb80c;
  color: white !important;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  }
    
.grid-container-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.25fr 0.25fr;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-item {
  padding: 30px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'DIN_Regular';
}

.grid-item-title h2{
  margin-top: 0.64em;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'National2';
  font-size: 3rem;
}

.grid-item h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: #ffb80c;
  text-align: center;
  margin:0;
  font-family: 'DIN_Regular';
}

.grid-item p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  color: #ffb80c;
  font-family: 'DIN_Regular';
}

.grid-item-languages {
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.grid-item-languages h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffb80c;
  text-align: center;
  margin: 0;
  font-family: 'National2';
  text-transform: uppercase;
}

.grid-item-hd h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffb80c;
  text-align: center;
  margin: 0;
  font-family: 'National2';
  text-transform: uppercase;
}

.grid-item-languages p {
  font-size: 0.75rem;
  margin: 0;
  text-align: center;
  color: #ffb80c;
  font-family: 'DIN_Regular';
  align-self: flex-end;
}

.grid-item-languages a {
  font-size: 0.9rem;
  text-align: center;
  color: white !important;
  display: flex;
  justify-content: center;
  font-family: 'DIN_Regular';
}

.grid-item-hd a {
  font-size: 1rem;
  text-align: center;
  color: white !important;
  display: flex;
  justify-content: center;
  font-family: 'DIN_Regular';
}

.grid-item-hist a {
  font-size: 0.75rem;
  text-align: center;
  color: white !important;
  display: flex;
  justify-content: center;
  font-family: 'DIN_Regular';
}

.full-screen {
  padding: 0.1rem 0 0.2rem 0;
  border: none;
  background-color: white;
  --native-dark-bg-color: white !important;
  --native-dark-font-color: black !important;
  --native-dark-link-color: black !important;
  --native-dark-visited-link-color: black !important;
  color: black;
  width: 100%;
}

.full-screen p {
  margin: 0; /* remove margin */
  padding: 0.1rem; /* remove padding */
  line-height: 1.2; /* set the line-height to a smaller value */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .full-screen {
    background-color: white !important;
    color: black !important;
  }
}

.grid-container-CTA {
  display: flex;
}

.grid-container-CTA-mob {
  display: none;
}

.grid-item-changer {
  background-color:#212121;
  border: 1px solid transparent;
  border-color: #1e1e1e;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
}

.grid-item-changer img {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb80c;
  text-align: center;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: 'DIN_Regular';
  text-transform: uppercase;
}

.grid-item-changer a {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: #ffb80c !important;
  transition: opacity 0.3s ease-in-out;
  display: none;
  font-family: 'DIN_Regular';
}

.grid-item-changer:hover img {
  display: none;
}

.grid-item-changer:hover a {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: white !important
}

.grid-item-changer:hover {
  padding: 10px;
}

/* Styles for larger screens */
.large-screen {
  display: block; /* Show the block by default */
}

/* Styles for smaller screens */
.small-screen {
  display: none; /* Hide the block by default */
}

#default-image1 {
  display: none;
}

.outer-grid {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px; /* Adjust the gap between outer grid cells as needed */
}

.grid-cell {
  display: none;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust the height of outer grid cells as needed */
}

.inner-grid {
  display: none;
  grid-template-rows: repeat(2, 1fr);
}

.inner-cell {
  display: none;
  justify-content: center;
  align-items: center;
}

.grid-container-CTA-mid {
  display: none;
}


/* Media query for screens smaller than 768px */
@media screen and (max-width: 749px) {
  .grid-container-icons {
    display: none;
  }

  .grid-container-CTA-mid {
    display: none;
  }
  .grid-container-icons-mob {
    display: inline-block;
  }

  .grid-container-languages {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 700px 200px 200px 200px 200px;
  }
  .grid-item-changer:hover {
    height: 200px;
  }
  .grid-container-left {
    grid-template-columns: 1fr;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  #default-image {
    display: none;
  }

  #default-image1 {
    display: block;
  }
  .grid-item-large {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  }
  /* Styles to apply on screens with a max width of 768px */
  .large-screen {
    display: none; /* Hide the block on smaller screens */
  }
  .small-screen {
    display: block; /* Show the block on smaller screens */
  }

  .grid-item-languages {;
    text-align: center;
  }

  .outer-grid {
    display: grid;
  }
  
  .grid-cell {
    display: flex;
  }
  
  .inner-grid {
    display: grid;
  }
  
  .inner-cell {
    display: flex;
  }
  
  .grid-container-api {
    display: none;
  }
  /* Add horizontal border between row 1 and 2 */
  .outer-grid > .grid-cell:nth-child(3),
  .outer-grid > .grid-cell:nth-child(4) {
    border-top: 2px solid #ccc; /* Adjust border style and color as needed */
  }

  /* Add vertical border between column 1 and 2 */
  .outer-grid > .grid-cell:nth-child(2n) {
    border-left: 2px solid #ccc; /* Adjust border style and color as needed */
  }

  .grid-container-code-a {
    display: none;
  }
  
  .grid-container-code-mob {
    display: grid;
  }
  
  .grid-container-code-b {
    display: none;
  }
  
  .grid-container-code-b-mob {
    display: grid;
  }

  .carousel-item a {
    font-size: 0.7rem !important;
  }

  .carousel-item h2 {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  
  .grid-container-CTA {
    display: none;
  }
  
  .grid-container-CTA-mob {
    display: flex;
  }

  .grid-container-data-mob {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1.3fr 0.3fr;
    padding: 10px;
  }
  
  .grid-container-data {
    display: none
  }

  .grid-item-title h2{
    font-size: 1.75rem;
  }

  .grid-container-carousel {
    display: none;
  }
  
  .grid-container-carousel-mob {
    display: grid;
    padding: 10px;
  }
  
  .grid-container-team {
    margin: 0 -15%;
  }

  .grid-item-languages h2 {
    font-size: 1.75rem;
  }

  .grid-item-languages a {
    font-size: 0.7rem;
  }

  .grid-item-hd h2 {
    font-size: 1.75rem;
  }

  .grid-item-hd a {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 850px){
  .grid-container-centre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid-container-CTA-mid {
    display: grid;
  }
  .grid-container-languages {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 250px 250px 250px;
  }
  .grid-item-changer:hover {
    height: 200px;
  }
  .grid-container-left {
    grid-template-columns: 1fr;
  }

  #default-image {
    display: none;
  }

  #default-image1 {
    display: block;
  }

  /* Styles to apply on screens with a max width of 768px */
  .large-screen {
    display: none; /* Hide the block on smaller screens */
  }
  .small-screen {
    display: block; /* Show the block on smaller screens */
  }

  .grid-container-carousel {
    display: none;
  }
  
  .grid-container-carousel-mob {
    display: grid;
  }

  .grid-container-CTA {
    display: none;
  }

}

@media screen and (min-width: 750px) and (max-width: 1050px){

  .grid-item-languages a {
    font-size: 0.7rem;
  }

  .grid-item-languages p {
    font-size: 0.7rem;
  }

  .grid-container-CTA {
    display: none;
  }

  .grid-container-CTA-mid {
    display: grid;
  }

  .grid-item-hist a {
    font-size: 0.9rem !important;
  }

  .grid-container-code-a img {
    height: 80px;
  }
}

